@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

/* Minimal classic defaults */
:root {
  color-scheme: light;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}
